<h1>Listing locations</h1>

<table>
  <tr>
    <th>Street</th>
    <th>Number</th>
    <th>Neighborhood</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.street %></td>
    <td><%= location.number %></td>
    <td><%= location.neighborhood %></td>
    <td><%= location.city %></td>
    <td><%= location.state %></td>
    <td><%= location.country %></td>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<div id="request">
    <p>Fields with "*" are required.<p>
    <table>
        <tr>
            <td>* Origin:</td>
            <td><input type="text" id="origin" name="origin"></td>
            <td>(Curitiba) (Rua 15 de Novembro, 1000, Curitiba)</td>
        </tr>
        <tr>
            <td>Intermediates (separete by "#"):</td>
            <td><input type="text" id="intermediates" name="intermediates"></td>
            <td>(São Paulo # Rio de Janeiro) (Rua 7 de Setembro, 4848, Curitiba # Rua 24 de Maio, 234, Curitiba)</td>
        </tr>
        <tr>
            <td>* Destination:</td>
            <td><input type="text" id="destination" name="destination"></td>
            <td>(Manaus) (Rua Mariano Torres, 146, Curitiba)</td>
        </tr>
        <tr>
            <td>Travel Mode:</td>
            <td><input type="text" id="travel_mode" name="travel_mode"></td>
            <td>(DRIVING) (BICYCLING) (TRANSIT) (WALKING)</td>
        </tr>
        <tr>
            <td>Direction Color:</td>
            <td><input type="text" id="direction_color" name="direction_color"></td>
            <td>(red) (green)</td>
        </tr>
        <tr>
            <td><button id="generateRoute">Generate Route</button></td>
            <td><button id="clearDirectionsOfMap">Clear Directions Of Map</button></td>
            <td></td>
        </tr>
    </table>

</div>

<br />

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<div id="directions_panel" style="margin:20px;background-color:#FFEE77;"></div>

<br />
<br />

<%= link_to 'New Location', new_location_path %>
